@mixin medium {
    @media (max-width: 960px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width:600px) {
        @content;
    }
}


body {
    background-color: #ece7e1;
    line-height: 1;
}
.body-work{
    background-color: #1a1919;
}


.container {
    position: relative;
    font-family: Montserrat, sans-serif;
    color: #333;
    font-size: 12px;

    &-work{
       color: #ece7e1; 
    }
}

.header {

    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 150px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include medium {
        width: unset;
        height: unset;
        padding-left: 21%;
    }

    h3 {
        font-weight: 400;
    }

}

.inner {
    display: flex;
    justify-content: center;


    @include medium {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    @include mobile {
        height: 70vh;
    }
}

.description {
    position: relative;
    max-width: 80%;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
  line-height: 1.4;
    font-weight: 400;
}

.hero {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;

    @include medium {
        width: unset;
        height: unset;
        padding-left: 25%;

    }

    @include mobile {
        padding-left: 60px;
        display: grid;
    }

    a {
        text-decoration: none;
        color: #333;

    }

    a:hover {
        text-decoration: unset;


    }

    h1 {
        font-size: 150px;
        margin: 0;
        font-weight: 100;
        transition: all 500ms ease-in;

        @include medium {
            margin-left: 0;
            font-size: 15vw;
        }
        
    }
   
   

    h1:hover {
        // transform: skew(-0.03turn);
        transform: translateX(5px);
        font-style: italic;

    }
}
.white{
    color: #ece7e1;
}

.nav {
   
    &-left-item {
        margin-bottom: 40px;
        padding-right: 15px;
        padding-left: 20px;
        transform: rotate(-90deg);
        letter-spacing: 5px;

        a {
            text-decoration: none;
            color: #333;
            font-family: Montserrat, sans-serif;
        }

        &-left-item:hover {
            text-decoration: line-through;
        }
    }

    &-left {
        position: fixed;
        z-index: 600;
        display: flex;
        width: 6%;
        height: 100vh;
        padding-top: 5%;
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    &-line {
        width: 1px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 80px;
        background-color: #1a1818;
    }

 
}

a:hover {
    text-decoration: line-through;
    color: #333;


}

.copyright {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    transform: rotate(-90deg);
    margin-top: 30vh;

}